@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url(fonts/OXYTDOzBcXU8MTNBvBHeScENMRmONIR770qe4kUs6CY.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.color-background {
    background-color:#293134;
}

.color-text {
    color:#e0e2e4;
}

.color-border {
    border-color:#93c763;
}

.color-active-tab-fore {
    color:#293134
}

.tab:hover {
    background-color:#404e51;
}

.color-active-tab-back, .color-active-tab-back:hover {
    background-color:#93c763;
    font-weight:600;
}

.border {
    border-width:2px;
    border-style:solid;
    border-radius:5px;
    padding:5px;
    margin:5px;
}

.tab {
    margin:0;
}

#container {
    height:calc(100% - 10px);
    padding:5px;
}

#tabs {
    padding:5px;
}

#input {
    width:calc(100% - 24px);
    font-family: 'Open Sans';
}

html, body {
    height:100%;
    margin:0;
    font-family: 'Open Sans';
}
